html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Overlay Filter on Left  */
.leaflet-top.leaflet-right {
  right: unset;
  left: 10px;
  top: 0;
}

/* Elevation on Right */
.waymark-map-container .waymark-elevation-container {
  position: absolute;
  top: 15px;
  right: 15px;
  left: unset;
}

.waymark-map-container .leaflet-control-locate,
.waymark-map-container .leaflet-control-fullscreen,
.waymark-map-container .leaflet-control-zoom {
  display: none !important;
}

#waymark-data {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2000;
  width: 320px;
  height: 160px;
  overflow: scroll;
}

/* Hover  */
#waymark-data:hover {
  width: 33.33%;
  height: 33.33%;
  font-size: 150%;
}
