@waymark-primary: rgba(180, 39, 20, 1); //#b42714
@waymark-grey: rgba(241, 241, 241, 1); //#f1f1f1

body {
  padding: 15px;
  background: #0d1117;
  color: @waymark-grey;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;

  /* Global Styles */
  img {
    max-width: 100%;
    max-height: 100%;
  }

  /* Main */
  main {
    .markdown-body {
      font-size: inherit;

      h1,
      h2,
      h3,
      h4 {
        // color: @waymark-primary;
        a {
          color: @waymark-grey;
        }
      }
    }
  }

  /* Footer */
  footer {
    display: flex;
    padding: 15px;
    background: blue;

    > * {
      flex-align: center;
    }
  }
}
