pre[class*="language-"],
code[class*="language-"],
pre[class*="language-"] *,
code[class*="language-"] * {
	z-index: 0;
	background: #222 !important;
}
pre[class*="language-"],
code[class*="language-"] {
	/* Light Grey  */
	color: #f1f1f1;
	font-family: Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	border: 1px solid #b4271450;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
	/* Warm Grey  */
	color: #bea6a0;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	/* Pink */
	color: #aad3df;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	/* Light Green / Grey */
	color: #a5ae9d;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	/* Light Green / Grey */
	color: #a5ae9d;
}
.token.atrule,
.token.attr-value,
.token.keyword {
	/* Light Green / Grey */
	color: #a5ae9d;
}
.token.regex,
.token.important,
.token.variable,
.token.function {
	/* Pink  */
	color: #ff8897;
}
